<h2>LOGIN</h2>
<p>{{message}}</p>

<form novalidate [formGroup]="user" (ngSubmit)="login()" *ngIf="!(isLoggedIn())" #loginForm>
  <label>
    <span>Логин</span>
    <input type="text" name="userlogin" placeholder="Логин" formControlName="userlogin" autocomplete ="username" required autofocus>
  </label>
  <my-control-error-messages [control] = "user.get('userlogin')"> </my-control-error-messages>

  <label>
      <div>Пароль</div>
      <input type="password" name="password" placeholder="Пароль" formControlName="password" required autocomplete ="current-password">
  </label>
  <my-control-error-messages [control] = "user.get('password')"> </my-control-error-messages>
  <button type="submit" [disabled]="user.invalid">Войти</button>
</form>
<button (click)="logout()" *ngIf="isLoggedIn()">Выйти</button>
